.portfolioTable {
    border: 1px solid black;
}
.portfolioColumn {
    display: flex;
    background-color: var(--lightGray-color);
}
.column {
    border: 1px solid black;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    cursor: pointer;
}
.titles {
    background-color: var(--gray-color);
    color: var(--white-color);
}
.firstColumn {
    min-width: 250px;
}
.secColumn {
    width: 100px;
}
.thirdColumn {
    width: 100px;
}
.companyColumn:hover {
    background-color: var(--white-color);
}